.first{

    background-color: aqua;
    height: 25vh;
    width: 30vw;
    margin: 10px 10px 10px 35vw;
    padding: 10px;
    border: 5px  black solid;
    /* Here , intead of writing 3 different liunes for border's width,color,style   We can write them in a single line */
} 

body{
    background-color: bisque;
}

h2{
    color: green;
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
} 

.first:hover{
    background-color: pink;
    scale: calc(1.2);  
    
    /* When we hover to our div then its size enlarges to 1.2 times and its backgroung color changes from aqua to pink */
}