body{
    margin: 0;
    padding: 0;
    height: 100vh; 

    display: flex; 
    align-items: center;
    justify-content: center;
} 


.root{
    background-color: rgb(182, 140, 88); 
    height: 150px; 
    width: 500px; 
    text-align: center; 
    
}