.container{
    height: 350px;
    width: 350px;
    border: 5px solid black;
    background-color: blue;
} 

/* For mobile phones */
@media(max-width:400px){
    .container{
    height: 150px;
    width: 150px;
    background-color: orange;
    }
}  

/* for tablets */

@media (min-width:401px) and (max-width:600px)
{   
    .container{
    height: 250px; 
    width: 250px;
    background-color: pink;
    }
}
